@if (book$ | async; as book) {
  <div class="page-header">
    <a routerLink="/books" class="back-link">
      <mat-icon>arrow_back_ios</mat-icon>
      <span>All books</span>
    </a>
    <h1>{{ book.name }}</h1>
    <div class="placeholder"></div>
  </div>
  <div class="pages-grid">
    @for (page of pages; track page) {
        <a [routerLink]="['/page-detail', book.id, page]">
            <div class="page-square">
                <span class="page-number">{{ page }}</span>
            </div>   
        </a>
    } @empty {
      <p>This book has no pages.</p>
    }
  </div>

} @else {
  <p>Loading book information...</p>
}